.navegacion-header {
    display: flex;
    flex-direction: column;
}

.navegacion-header-search-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navegacion-header-search {
    display: flex;
    gap: 0.5rem;
}

.a-navegacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

.navegacion-header-callus {
    display: flex;
    gap: 1rem;
    align-items: baseline;
}

.navbar-toggler:focus {
 box-shadow: none
}

.form-inline {
    display: flex;
    gap: 0.5rem;
}

.form-inline-div{
    display: flex;
    gap:1rem;
    justify-content: center;
}

.navbar-nav a{
    color: black;
}

.navbar-nav a:hover{
    color: rgb(79, 79, 79);
}

@media (width>300px) and (width<780px) {
    .navegacion-header-search-contenedor {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
    }

    .navegacion-header-search{
        flex-direction: column-reverse;
    }

    .form-inline-div{
        text-align: center;
        display: flex;
        gap:1rem;
        justify-content: center;
    }
    
}


/*BARRA DE BUSQUEDA*/

.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type="search"] {
    width: 0;
    opacity: 0;
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
    margin-left: 10px;
}

.search-container:hover input[type="search"] {
    width: 200px;
    opacity: 1;
}