.swiper {
    width: 100%;
}
.swiper-wrapper {
    width: 100%;
    height: auto;
}
.swiper-slide img {
    width: 100%;
    height: auto;
}
.swiper-img {
    width: 100%;
    height: auto; 
}









