.contenedor-shop{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
}

.contenedor-shop a {
    color: black;
    text-decoration: none;
}

.contenedor-shop a p {
    color: rgb(104, 104, 104);
    text-decoration: none;
}

.card-shop img{
    border-radius:1.5rem 1.5rem 0rem 0rem ;
    height: 300px;
}

.card-shop{
    border-radius: 1.5rem;
}

.card i{
    border-radius: 2rem;
    border: solid 1px black;
    padding: 0.5rem;
}

.botones-shop {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    margin: 0.5rem 0rem;
    align-items: center;
}

.heartButton {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  .separar i{
    margin-left: 0.2rem;
  }
  
  .contenedor-main-shop {
    display: flex;
    gap: 2rem;
}


.contenedor-main-shop form {
    width: 16%;
}

.boton-filtrar{
    margin-top: 1rem;
    border-color: solid 2px purple;
    background-color: transparent;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

.button-filtrar-quitar{
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.contenedor-main-shop-categorias {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
}

.contenedor-main-shop-categorias input[type="checkbox"] {
    display: none;
}

.contenedor-main-shop-categorias input[type="checkbox"] + label {
    position: relative;
    padding-left: 25px;
}

.contenedor-main-shop-categorias input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid purple;
    background: white;
    border-radius: 0.3rem;
}

.contenedor-main-shop-categorias input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    background: purple;
    border-radius: 2rem;
}

  details > summary {
    list-style: none;
    border-top: 1px solid #aaaaaa;
    color: purple;
    padding: 1rem;
  }

  details > summary::-webkit-details-marker {
    display: none;
  }

  details > summary::after {
    content: " +";
  }

  .contenedor-main-shop-precios input[type="number"] {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    border: 1px solid purple;
    border-radius: 4px;
  }


  

  @media (width>300px) and (width<780px) {
    .contenedor-shop{
        margin: 5rem 0rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        justify-items: center;
    }
  }

  @media (width>780px) and (width<1024px) {
    .contenedor-shop{
        margin: 5rem 0rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        justify-items: center;
    }
  }

  