<!DOCTYPE html>
<html>
    <%- include('partials/head', { title: '¡Nosotros!' }) %>
<body>
    
    <%- include('partials/header') %>
    <main class="about">
    <div class="about_container">
        <div>
            <img src="/images/admin/yo.jfif" alt="">
        </div>
        <div>
            <img src="/images/admin/carlitos.png" alt="">
        </div>
    </div>
        <section clas>
            <h2>Sobre Nosotros</h2>
            <p>En Juguetería Kuma Toys, nos apasiona llevar alegría y felicidad a los niños a través de nuestra amplia gama de juguetes de alta calidad. Nuestra tienda en línea está dedicada a proporcionar una experiencia de compra encantadora tanto para los niños como para los padres.</p>
        </section>

        <section>
            <h2>Nuestra Misión</h2>
            <p>Nuestra misión es ofrecer una selección diversa de juguetes que inspiren la creatividad, fomenten el aprendizaje y contribuyan al desarrollo integral de los niños. Creemos en el poder del juego para dar forma a un futuro más brillante.</p>
        </section>

        <section>
            <h2>¿Por qué elegir Juguetería Kuma Toys?</h2>
            <p>En Juguetería Kuma Toys nos destacamos por:</p>
            <ul>
                <li>Selección Curada: Seleccionamos cuidadosamente nuestra colección para presentar los juguetes más recientes y populares.</li>
                <li>Aseguramiento de Calidad: Todos nuestros productos cumplen con estrictos estándares de calidad para garantizar seguridad y durabilidad.</li>
                <li>Compra Conveniente: Disfruta de la facilidad de comprar en línea con transacciones seguras y entregas oportunas.</li>
                <li>Satisfacción del Cliente: Priorizamos la satisfacción del cliente y estamos siempre aquí para ayudarte.</li>
            </ul>
        </section>

    
    </main>

    
</body>    