<!DOCTYPE html>
<html>
    <%- include('partials/head', { title: '¡Contactanos!' }) %>
<body>
   
    <%- include('partials/header') %>


    <section class="contact-section" >
        <!-- Sección de contacto -->
        <div class="contact-form">
            <h1>Contactanos</h1>
            <div class="contact-input">
                <h2>Nombre</h2>
                <input type="text" placeholder="Nombre">
            </div>
            <div class="contact-input">
                <h2>Apellido</h2>
                <input type="text" placeholder="Apellido">
            </div>
            <div class="contact-input">
                <h2>Email</h2>
                <input type="email" placeholder="Email">
            </div>
            <div class="contact-input">
                <h2>Asunto</h2>
                <input type="text" placeholder="Asunto">
            </div>
            <div class="contact-input">
                <h2>Mensaje</h2>
                <textarea placeholder="Mensaje"></textarea>
            </div>
            <button style="background-color: rgb(49, 49, 63);">Enviar</button>
        </div>
        
        
        <div class="vertical-image">
            <img src="/images/1.svg" alt="Banner Image">
        </div>
    </section>

     

    
</body>
</html>