<!DOCTYPE html>
<html lang="en">
      <%- include('partials/head') %>
  <body>
  
      <%- include('partials/header') %>

  
  
    <!-- Slider main container -->
<div class="swiper_home">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide"><img class="swiper-img" src="/images/banner/bob.png" alt=""></div>
    <div class="swiper-slide"><img class="swiper-img" src="/images/banner/guason.png" alt=""></div>
    <div class="swiper-slide"><img  class="swiper-img" src="/images/banner/hero.png" alt=""></div>
    <div class="swiper-slide"><img class="swiper-img" src="/images/banner/hero2.png" alt=""></div>
    <div class="swiper-slide"><img class="swiper-img" src="/images/banner/loney.png" alt=""></div>
    <div class="swiper-slide"><img class="swiper-img" src="/images/banner/pixar.png" alt=""></div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>


<div class="home_container">
  <img src="/images/home/aladin.png" alt="Imagen Principal" class="main-image">

  <div class="sub-images">
    <img src="/images/home/GalacticSaving.png" alt="Imagen 1" class="sub-image">
    <img src="/images/home/superman.png" alt="Imagen 2" class="sub-image">
  </div>
</div>  


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js">
    
    </script>
    <script> const swiper = new Swiper('.swiper_home', {
      // Optional parameters
      direction: 'horizontal',
      loop: true,
    
      // If we need pagination
      pagination: {
        el: '.swiper-pagination',
      },
    
      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    
      // And if we need scrollbar
      scrollbar: {
        el: '.swiper-scrollbar',
      },
    });</script>

  </body>
</html>
