<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body>

  <%- include('partials/header',{q : ''}) %>
 


      <div class="home_container">

        <div class="home-magia">
          <h2>Explora la magia</h2>
          <h3>Explora la magia con nuestra colecion de aladin</h3>
          <a href="/products/shop?category=1"><button>Ver Ahora</button></a>
        </div>

        <div class="sub-images">
          <div class="home-buzz">
            <h2>Explora la magia</h2>
            <h3>Explora la magia con nuestra colecion de aladin</h3>
            <a href="/products/shop?category=2"><button>Ver Ahora</button></a>
          </div>

          <div class="home-super">
            <h2>Explora la magia</h2>
            <h3>Explora la magia con nuestra colecion de aladin</h3>
            <a href="/products/shop?category=3"><button>Ver Ahora</button></a>
          </div>
        </div>
      </div>


      <!-- <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js">

      </script>
      <script> const swiper = new Swiper('.swiper_home', {
          // Optional parameters
          direction: 'horizontal',
          loop: true,

          // If we need pagination
          pagination: {
            el: '.swiper-pagination',
          },

          // Navigation arrows
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },

          // And if we need scrollbar
          scrollbar: {
            el: '.swiper-scrollbar',
          },
        });</script> -->

  </body>

</html>