<!DOCTYPE html>
<html lang="en">
      <%- include('partials/head') %>
  <body>
  
      <%- include('partials/header') %>

  
  
    <!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div id="galeria">
      <div class="imagen"><img src="imagen1.jpg" alt="Imagen 1"></div>
      <div class="imagen"><img src="imagen2.jpg" alt="Imagen 2"></div>
      <div class="imagen"><img src="imagen3.jpg" alt="Imagen 3"></div>
      <!-- Repite estas líneas para más imágenes -->
      <div class="imagen"><img src="imagen4.jpg" alt="Imagen 4"></div>
      <div class="imagen"><img src="imagen5.jpg" alt="Imagen 5"></div>
      <div class="imagen"><img src="imagen6.jpg" alt="Imagen 6"></div>
      
      <div class="imagen"><img src="imagen7.jpg" alt="Imagen 7"></div>
      <div class="imagen"><img src="imagen8.jpg" alt="Imagen 8"></div>
      <div class="imagen"><img src="imagen9.jpg" alt="Imagen 9"></div>
      <!-- Repite estas líneas para más imágenes -->
      <div class="imagen"><img src="imagen10.jpg" alt="Imagen 10"></div>
      <div class="imagen"><img src="imagen11.jpg" alt="Imagen 11"></div>
      <div class="imagen"><img src="imagen12.jpg" alt="Imagen 12"></div>
  </div>    


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js">
    
    </script>
    <script> const swiper = new Swiper('.swiper', {
      // Optional parameters
      direction: 'horizontal',
      loop: true,
    
      // If we need pagination
      pagination: {
        el: '.swiper-pagination',
      },
    
      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    
      // And if we need scrollbar
      scrollbar: {
        el: '.swiper-scrollbar',
      },
    });</script>

  </body>
</html>
