<nav class="navegacion-header">

    <div class="navegacion-header-search-contenedor">
        <div class="navegacion-header-callus">
            <i class="fa-solid fa-headphones" style="color: #000000;"></i>
            <p>Call US <br>03-5011107</p>
        </div>

        <div>
            <img width="200" src="/images/1.svg" alt="">
        </div>

        <div class="navegacion-header-search">
            <form role="search">
                <input type="search" style="display: none;" placeholder="Search" aria-label="Search">
                <input type="submit" value="&#xf002;">
            </form>
            <a href="#"><i class="fas fa-user" style="color: #000000;"></i></a>
            <a href="#"><i class="fa-regular fa-heart" style="color: #000000;"></i></a>

            <button id="btn-cart" type="button" class="btn btn-outline-light position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa-solid fa-bag-shopping" style="color: #000000;"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="show-count-cart" hidden >
                    
                </span>
            </button>
            
        </div>
    </div>
    <div class="a-navegacion">
        <a href="/">Home</a>
        <a href="/admin">Shop</a>
        <a href="#">About Us</a>
        <a href="#">Contact</a>
    </div>

</nav>
<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" >
      <div class="modal-content" style="background: linear-gradient(to right, #ffcc00, #ff6600);">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Carrito</h1>
          
        </div>
        <div class="modal-body" id="cart-body">
        
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-danger disabled" onclick="emptyCart()" id="btn-empty-cart">Vaciar Carrito</button>
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Seguir Comprando</button>
            <button type="button" class="btn btn-primary">Confirmar Compra</button>
        </div>
      </div>
    </div>
  </div>
  