<nav class="navegacion-header">

    <div class="navegacion-header-search-contenedor">
        <div class="navegacion-header-callus">
            <i class="fa-solid fa-headphones" style="color: #000000;"></i>
            <p>Call US <br>03-5011107</p>
        </div>

        <div>
            <a href="/">
            <img width="200" src="/images/1.svg" alt=""></a>
        </div>



        <div class="navegacion-header-search d-flex align-items-center">
            <div class="search-container">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </div>


            <div class="form-inline-div">
                <div>
                    <a href="#" data-toggle="collapse" data-target="#modalHeader"><i class="fas fa-user" style="color: #000000;"></i></a>
                    <div class="collapse collapses" id="modalHeader">
                        <a href="/user/login">Login</a>
                        <a href="/user/register">Registro</a>
                        <a href="/user/profile/1">Perfil</a>
                    </div>
                </div>
                <a href="/products/favorite"><i class="fa-regular fa-heart" style="color: #000000;"></i></a>
                <a href="#"><i class="fa-solid fa-bag-shopping" style="color: #000000;"></i></a>
            </div>



        </div>


    </div>


    <div class="navbar navbar-expand-lg">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">

            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products/shop">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>

        </div>

    </div>







</nav>