
<nav class="navegacion-header">

    <div class="navegacion-header-search-contenedor">
        <div class="navegacion-header-callus">
            <i class="fa-solid fa-headphones" style="color: #000000;"></i>
            <p>Call US <br>03-5011107</p>
        </div>

        <div>
            <a href="/">
            <img width="200" src="/images/1.svg" alt=""></a>
        </div>



        <div class="navegacion-header-search d-flex align-items-center">
            <form action="/products/shop" method="get" class="search-container">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar" name="q" value="<%= q %>">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
            
            


            <div class="form-inline-div">
                <div>
                    <a href="#" data-toggle="collapse" data-target="#modalHeader"><i class="fas fa-user" style="color: #000000;"></i></a>
                    <div class="collapse collapses" id="modalHeader">
                        <a href="/user/login">Login</a>
                        <a href="/user/register">Registro</a>
                        <a href="/user/profile/1">Perfil</a>
                    </div>
                </div>
                <a href="/products/favorite"><i class="fa-regular fa-heart" style="color: #000000;"></i></a>
                <button id="btn-cart" type="button" class="btn btn-outline-light position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fa-solid fa-bag-shopping" style="color: #000000;"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="show-count-cart" hidden >
                        
                    </span>
                </button>
            </div>



        </div>


    </div>


    <div class="navbar navbar-expand-lg">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">

            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products/shop">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>

        </div>

    </div>


<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" >
      <div class="modal-content" style="background: linear-gradient(to right, #ffcc00, #ff6600);">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Carrito</h1>
          
        </div>
        <div class="modal-body" id="cart-body">
        
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-danger disabled" onclick="emptyCart()" id="btn-empty-cart">Vaciar Carrito</button>
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Seguir Comprando</button>
            <button type="button" class="btn btn-primary">Confirmar Compra</button>
        </div>
      </div>
    </div>
  </div>




</nav>