<nav class="navegacion-header">

    <div class="navegacion-header-search-contenedor">
        <div class="navegacion-header-callus">
            <i class="fa-solid fa-headphones" style="color: #000000;"></i>
            <p>Call US <br>03-5011107</p>
        </div>

        <div>
            <img width="200" src="/images/1.svg" alt="">
        </div>

        <div class="navegacion-header-search">
            <form role="search">
                <input type="search" style="display: none;" placeholder="Search" aria-label="Search">
                <input type="submit" value="&#xf002;">
            </form>
            <a href="#"><i class="fas fa-user" style="color: #000000;"></i></a>
            <a href="#"><i class="fa-regular fa-heart" style="color: #000000;"></i></a>
            <a href="#"><i class="fa-solid fa-bag-shopping" style="color: #000000;"></i></a>
        </div>
    </div>
    <div class="a-navegacion">
        <a href="/">Home</a>
        <a href="/products/shop">Shop</a>
        <a href="/admin">Admin boton provisorio</a>
        <a href="#">About Us</a>
        <a href="#">Contact</a>
    </div>

</nav>